@page "/favs"
@using BestMovies.Model.Domain
@inject IDataLayer DataLayer
@inject IJSRuntime jsRuntime

<h2>View Movies here</h2>

    @if (items == null || !items.Any())
    {
        <p>Nothing to see here</p>
    }
    else
    {
        <table class="table" style="width:300px">
            <tbody>
                @for (var z = 0; z < items.Count; z++)
                {
                    @if (z % 5 == 0)
                    {
                        <tr>
                        </tr>
                    }
                <td width="55%">
                    @items[z].rating.rating/10 ★
                </td>
                <td width="33%">
                    <a href=@($"/movie/{items[z].id}") asp-route-id="@items[z].id">@items[z].title</a>
                </td>
            }
                </tbody>
            </table>
        }

@code {

    private IList<Movie> items
    { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await DataLayer.AllUserFavorites();
    }

}